form.prompt-gen {
	display: flex;
	column-gap: 1em;
	justify-content: center;
	flex-wrap: wrap;
}

.home-panel {
	margin: 0 auto;
	row-gap: 2em;
	display: flex;
	flex-direction: column;
}
.prompt {
	cursor: grab;
}
.prompt-row {
	display: flex;
	justify-content: space-between;
	column-gap: 1.5em;
}

.two-col {
	flex-grow: 0.5;
}
.main-button {
	height: 4em;
}
.hid {
	display: none;
}

ul.hint {
	list-style-type: none;
}
li:not(:last-child) {
	margin-bottom: 2em;
}
.highlight {
	font-weight: 900;
}
