<mat-toolbar class="header-row" color="primary">
	<ng-container *ngIf="header">
		<img class="header-app-icon" [src]="header.appIconLink" />
		<div
			class="appNameDiv clickable"
			[routerLink]="'/home'"
			routerLinkActive="active"
		>
			<span class="appName" [innerText]="header.appName"></span>
			<span class="appDesc" [innerText]="header.appDesc"></span>
		</div>
		<div
			class="appNameDiv clickable"
			[routerLink]="'/home/prompt-gen'"
			routerLinkActive="active"
		>
			Prompt Generator
		</div>
		<div
			class="appNameDiv clickable"
			[routerLink]="'/home/editor'"
			routerLinkActive="active"
		>
			Music Editor
		</div>
		<span class="spacer"></span>
		<button
			mat-icon-button
			(click)="switchTheme()"
			aria-label="swtch theme between dark and light"
		>
			<mat-icon
				[innerText]="
					(commData.themeState$ | async).darkmode ? 'dark_mode' : 'brightness_5'
				"
			></mat-icon></button
	></ng-container>
</mat-toolbar>
