<mat-toolbar class="header-row" color="primary">
	<ng-container *ngIf="header">
		<img class="header-app-icon" [src]="header.appIconLink" />
		<button
			mat-button
			tabindex="0"
			[routerLink]="'/'"
			routerLinkActive="active"
		>
			<div class="app-button">
				<span class="appName" [innerText]="header.appName"></span>
				<span class="desc wide-only-pc" [innerText]="header.appDesc"></span>
			</div>
		</button>
		<button
			mat-button
			class="no-mob"
			[routerLink]="'/music-gen'"
			routerLinkActive="active"
			*ngIf="(commData.currentState$ | async).apiFound"
		>
			Music Generator
		</button>
		<button
			mat-button
			class="no-mob"
			[routerLink]="'/editor'"
			routerLinkActive="active"
		>
			Music Editor
		</button>
		<span class="spacer"></span>
		<button
			mat-icon-button
			(click)="switchTheme()"
			aria-label="switch theme between dark and light"
			class="no-mob"
		>
			<mat-icon
				[innerText]="
					(commData.themeState$ | async).darkmode ? 'dark_mode' : 'brightness_5'
				"
			></mat-icon>
		</button>
		<button class="mob" mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button
				mat-menu-item
				[routerLink]="'/music-gen'"
				routerLinkActive="active"
				*ngIf="(commData.currentState$ | async).apiFound"
			>
				Prompt Generator
			</button>
			<button mat-menu-item [routerLink]="'/editor'" routerLinkActive="active">
				Music Editor
			</button>
		</mat-menu>
	</ng-container>
</mat-toolbar>
