/* my-component.scss */
@use '@angular/material' as mat;
@import '../../../theme/vars.scss';

.badge {
	margin: 2px;
}
//define how the active tab looks like
.active-tab-look {
	background-color: #3e5061;
}
.spacer {
	flex: 1 1 auto;
}
.header-app-icon {
	height: 5em;
	border-radius: 0.5em;
	margin-top: 0.3em;
	margin-right: 0.3em;
	z-index: 1;
}
.appNameDiv {
	display: flex;
	flex-direction: column;
}

.appName {
	font-size: 3.5em;
}
.appDesc {
	margin-top: 0.5em;
	font-size: 1.5em;
}
.linkLogo {
	fill: mat.get-contrast-color-from-palette($profile-ang-primary, 500);
}
.linkDarkLogo {
	fill: mat.get-contrast-color-from-palette($profile-ang-dark-primary, 500);
}

.header-row {
	height: 6em;
	column-gap: 1em;
}

.header-row::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../../../assets/score-ribbon-top.png');
	background-repeat: no-repeat;
	opacity: 0.4;
	height: 6em;
	background-position: center;
	z-index: 0;
}

.no-mob {
	font-size: inherit;
	@media only screen and (max-width: $mobile-width) {
		display: none;
	}
}
.mob {
	@media only screen and (min-width: $mobile-width) {
		display: none;
	}
}

.appNameDiv {
	display: flex;
	flex-direction: column;
}

.wide-only-pc {
	font-size: inherit;
	@media only screen and (max-width: ($mobile-width+300)) {
		display: none;
	}
}

.app-button {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.route-btn {
	font-size: 1.5em;
}
