@import "../../../theme/vars.scss";

.home-main {
  position: relative;
  display: flex;
  column-gap: 2em;
  row-gap: 2em;
  margin: 1dvw 0;
  @media screen and (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
  justify-content: center;
}

.home-image {
  max-height: 30em;
  @media screen and (max-width: $mobile-width) {
    max-height: 15em;
  }
  opacity: 60%;
  filter: blur(0.3em);
  -webkit-filter: blur(0.4em);
}
.para {
  margin-left: 0.5dvw;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  padding: 2em 1em;
  font-size: large;
  line-height: 1.5em;
  text-align: justify;
}

.para-darker {
  background-color: rgba(0, 0, 0, 0.4);
}

.block {
  width: 70dvw;
  height: 4em;
  margin: 1em 1em;
  padding-top: 1em;
  font-size: large;
}
.real-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
