<div class="editor-panel">
  <mat-card class="editor-card">
    <mat-card-content>
      <div class="editor-content">
        <textarea
          [(ngModel)]="abcString"
          (input)="onMidi()"
          rows="30"
        ></textarea>
      </div>
      <div class="download-button-container">
        <mat-card-actions>
          <a
            mat-raised-button
            color="primary"
            [href]="midiUrl"
            download="my-tune.mid"
          >
            Download MIDI
          </a>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="editor-card">
    <mat-card-content>
      <div class="editor-content">
        <div id="notation" style="height: 90vh"></div>
        <div id="audio"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
