<div class="home-panel">
	<mat-card>
		<mat-card-content>
			<form
				class="prompt-gen"
				[formGroup]="regiForm"
				(ngSubmit)="onFormSubmit()"
			>
				<app-my-select
					[label]="'Select Dynamics'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'dynamics'"
					[control]="regiForm.controls['Dynamics']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select Tempo'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'tempo'"
					[control]="regiForm.controls['Tempo']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select Time Signature'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'timeSignature'"
					[control]="regiForm.controls['TimeSignature']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select Key Signature'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'keySignature'"
					[control]="regiForm.controls['KeySignature']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select Music Mode'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'mode'"
					[control]="regiForm.controls['Mode']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select General Music Style'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'generalMusicStyle'"
					[control]="regiForm.controls['GeneralMusicStyle']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>

				<app-my-select
					[label]="'Select Specific Music Style'"
					[options]="options"
					[disabled]="'false'"
					[controlName]="'specificMusicStyle'"
					[control]="regiForm.controls['SpecificMusicStyle']"
					(selectionChanged)="onSelectionChanged($event)"
				></app-my-select>
			</form>
			<div class="prompt" [innerText]=""></div>
		</mat-card-content>
	</mat-card>
</div>
