.error-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60dvh;
}
.highlight {
  font-weight: 500;
  font-size: 1.2em;
  color: orange;
}
