.mentor-main {
  display: flex;
  column-gap: 2em;
  padding: 1em;
}
.mentor-image {
  height: 25em;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}
h2 {
  text-decoration: underline;
}
